<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link href="/css/editor.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <center>
      <h2>Welcome TO Editor Of TheShares.in</h2>
    </center>
    <div style="display: flex; flex-direction: row">
      <div class="small_container">   
        <button class="mainUtilityIconButtons" onclick="addTextField()">
          <i class="material-icons md-18">article</i>
        </button>
        <button class= "mainUtilityIconButtons" onclick="clickme()">
          <i class="material-icons md-18">image</i>
        </button class="mainUtilityIconButtons">
        <button class="mainUtilityIconButtons">
          <i class="material-icons md-18">movie</i>
        </button>
        <button class="mainUtilityIconButtons">
          <i class="material-icons md-18">format_bold</i>
        </button>
        <button class="mainUtilityIconButtons">
          <i class="material-icons md-18">format_italic</i>
        </button>
        <button class="mainUtilityIconButtons">
          <i class="material-icons md-18">format_underlined</i>
        </button>
        <button class="mainUtilityIconButtons">
          <i class="material-icons md-18">link</i>
        </button>
        
        
      </div>
      <div class="big_container" id="mainWritingArea"></div>
    </div>

    <script src="/js/editor.js"></script>
  </body>
</html>
