<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

    <body>
    
        <center>
            <h1>Welcome to The Shares.in</h1>
            <a href="/app/login">login</a>
           
        </center>
        <script src="/js/login.js"></script>
    </body>
</html>